@media (min-width: 1281px) {
	.mobile-menu {
		display: none;
	}
	.burger {
		display: none;
	}
}
/* ===== MOBILE BURGER MENU ===== */
@media (max-width: 1280px) {
	.nav,
	.header-right {
		display: none;
	}

	.mobile-flex {
		display: flex;
		position: relative;
		width: 100%;
		justify-content: center;
	}

	.header {
		display: flex;
		justify-content: center;
	}

	.burger {
		cursor: pointer;
		position: absolute;
		left: 91.5%;
		background: rgba(255, 255, 255, 0.2);
		border: none;
		width: 44px;
		height: 44px;
		border-radius: 12px;
		color: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.mobile-menu {
		position: fixed;
		inset: 0;
		background: #ff4e9b;
		z-index: 2000;
		display: flex;
		flex-direction: column;
		padding: 30px 24px;
		transform: translateX(100%);
		transition: transform 0.35s ease;
	}

	.mobile-menu.active {
		transform: translateX(0);
	}

	.mobile-close {
		font-size: 28px;
		background: rgba(255, 255, 255, 0.2);
		border: none;
		width: 44px;
		height: 44px;
		border-radius: 12px;
		color: #fff;
		cursor: pointer;
		flex-direction: column;
		gap: 6px;
		cursor: pointer;
		position: absolute;
		left: 85%;
		margin: 0;
	}

	.mobile-nav {
		margin-top: 40px;
		display: flex;
		flex-direction: column;
		gap: 22px;
	}

	.mobile-nav a {
		color: #fff;
		font-size: 24px;
		text-decoration: none;
		font-family: Hezaedrus-Medium, sans-serif;
	}

	.mobile-links {
		display: flex;
		flex-direction: column;
		gap: 20px;
		margin-top: 55px;
	}

	.mobile-links a {
		text-decoration: underline;
		color: #fff;
		font-size: 20px;
		font-family: Hezaedrus-Medium, sans-serif;
	}

	.mobile-footer {
		margin-top: auto;
		display: flex;
		gap: 14px;
		align-items: center;
	}

	.mobile-footer a,
	.mobile-footer img {
		width: 44px;
		height: 44px;
		background: rgba(255, 255, 255, 0.25);
		border-radius: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.mobile-footer img {
		padding: 8px;
	}
	.mobile-menu-header {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
@media (max-width: 768px) {
	.burger {
		left: 85%;
	}
}
