.header {
	background: #ff4e9b;
	padding: 18px 0;
	position: sticky;
	top: 0;
	z-index: 1000;
	transition:
		box-shadow 0.3s ease,
		padding 0.3s ease;
}

.header.scrolled {
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
	padding: 10px 0;
}

.logo {
}

.logo span {
	display: block;
}

.nav {
	display: flex;
	width: 70%;
	justify-content: space-evenly;
}

.nav a {
	color: white;
	text-decoration: none;
	font-size: 20px;
	position: relative;
	padding-bottom: 6px;
}

.nav a::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background: white;

	transform: scaleX(0);
	transform-origin: left;
	transition: transform 0.25s ease;
}

.nav a:hover::after {
	transform: scaleX(1);
}

.nav a.active::after {
	transform: scaleX(1);
}

.header-right {
	display: flex;
	align-items: center;
	gap: 15px;
}

.icon,
.lang {
	background: rgba(255, 255, 255, 0.2);
	padding: 8px 8px;
	border-radius: 8px;
	text-decoration: none;
	height: 44px;
}

.icon img {
	width: 28px;
	height: 28px;
}

.lang {
	padding: 0px;
}
/* [data-key] b,
[data-key] strong {
	color: #ff4e9b;
	font-family: 'Hezaedrus-Bold';
} */
